@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home View/Index</title>
</head>
<body>
    <div>
        <h3> Hello from View (w C Sharp) @Html.ActionLink("RSVP Now", "RsvpForm")</h3>
    </div>
</body>
</html>
