@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RSVP Form</title>
</head>
<body>
    <div>
    Send your Reservation...
        <form action="">
            Name: <input type="text" name="username" />
            Age: <input type="text" name="age" />
            Email: <input type="text" name=" email" />
            <input type="submit" name="Submit RSVP" />
        </form>
    </div>
</body>
</html>
